*{
    margin: 0;
    padding: 0;
}

.landing-page{
    width: 100vw;
    height: fit-content;
    background-color: #233142;
}

body {
    margin: 0;
    background-color: #233142;
    overflow: hidden;
  }
  
  .blob-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .blob {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    animation: float 8s ease-in-out infinite;
  }
  
  .blob1 {
    background: #ff8c0099;
    width: 20vw;
    height: 20vw;
    top: 10%;
    left: 10%;
    animation-delay: 0s;
  }
  
  .blob2 {
    background: #00ccff99;
    width: 40vw;
    height: 40vw;
    top: 50%;
    left: 20%;
    animation-delay: 4s;
  }
  
  .blob3 {
    background: #00ff5599;
    width: 30vw;
    height: 30vw;
    top: 20%;
    left: 65%;
    animation-delay: 2s;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
      transform: translateX(0);
    }
    50% {
      transform: translateY(-20px);
      transform: translateX(-50px);
    }
  }
  
.heading{
    width: 70vw;
    height: 30vh;
    /* background-color: red; */
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    top: calc(50% - 15vh);
    left: calc(50% - 35vw);
}
.heading h1{
    color: white;
    font-size: 6vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading p{
    color: white;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
    width: fit-content;
    background-color: #9b692d !important;
    font-weight: 300 !important;
    font-size: 1.5vw !important;
    padding: 1vh 2vw !important;
    margin-top: 2vw !important;
}
.button:hover{
    background-color: #14874A !important;
}


.signup-container{
  animation: gradient 10s ease infinite;
  position: absolute;
  width: 430px;
  border-radius: 15px;
  background: rgba(5, 5, 5, 0.703);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6vh 2vw;
  z-index: 100;
  margin: auto;
  text-align: center;
  top: calc(50% - 40vh);
  left: calc(50% - 215px);
  transition: all 1s ease;
}

.animated-text{
 font-size: 2.5vw;
  font-weight: bold;
  background: linear-gradient(90deg, #ff0080, #ff8c00, #ff6a00, #ff35d0, #fff200, #ff0080);
  background-size: 400%; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: colorAnimation 5s linear infinite; 
}
@keyframes colorAnimation {
0% {
    background-position: 0%;
}
100% {
    background-position: 100%;
}
}

.input-box{
  width: 100%;
  height: fit-content;
  margin-top: 3vh;
  display: flex; 
  gap: 1vw;
  align-items: center;
  
}

.input-box input, select{
  width: 100%;
  height: fit-content;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 16px;
  padding: 1vh 1vw;
  color: #ffffff;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone{
width: 60% !important;
}
.date{
background-color: rgba(128, 128, 128, 0.422) !important;
}
.passicon{
display: block;
}
.correctpassicon{
display: none;
}
p{
  font-size: 1vw;
  color: rgb(255, 102, 102);
}

#btn
{
    width: 95%;
    height: 40px;
    background-color: #9b692d;
    color: #000;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: 1s;
    margin-top: 2vh;
    cursor: pointer;
}

#btn:hover
{
    background-color: #14874A;
    color: #fff;
    transform: scale(1.05);
}

.back-signup{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 50;
}
.backgroundimg{
  width: 100%;
  height: 100%;
}
.filter-box{
  width: 100vw;
  height: 100vh;
  background-color: #233142a4;
  position: absolute;
  z-index: 75;
}

.login{
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 1.5vw;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 2vh;
  cursor: pointer;
}
.login:hover{
  background-color: #008f6db0;
}

/* USER BIOMETRICS */
.user-details-form{
  width: 40vw;
  min-height: 50vh;
  border: none;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.703);
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  position: absolute;
  top: calc(50% - 45vh);
  left: calc(50% - 20vw);
  z-index: 100;
}

.user-details-form h5{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

select{
  background-color: #000000 !important;
}

.item_1{
  background-image: url('./images/subscription.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_2{
  background-image: url('./images/todolist.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_3{
  background-image: url('./images/background.jpg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_4{
  background-image: url('./images/background_2.jpg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_5{
  background: #00000000 !important;
}
.item_5:hover{
  transform:scale(1) !important;
  background-color: #00000000 !important;
}
.item_6{
  background-image: url('./images/background_2.jpg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.filter-box-item{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #00000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.35s ease-in;
  cursor: pointer;
  font-size: 1.5vw;
}
.filter-box-item:hover{
  opacity: 1;
  background-color: #000000cf;
}

/* SUBSCRIPTION PLAN PAGE */
.subscription-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #233142;
  padding: 20px;
}

.plan-card {
  width: 25%;
  height: 70%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-size: 100% 150%;
  transition: all 0.5s ease;
}

.plan-card:hover {
  background-position: right center;
  transform: translateY(-10px);
  background-size: 200% 200%;
}

.card_1{
  background-image: linear-gradient(135deg, #b0d7de, #3b7cdd);
}
.card_2{
  background-image: linear-gradient(135deg, #bdf0bd, #1e6d1e);
}
.card_3{
  background-image: linear-gradient(135deg, #ffdf28, #ff5e00);
}

.price {
  font-size: 1.5rem;
  color: #f6f6f6;
  margin: 10px 0;
}

.plan-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #b025b0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.plan-button:hover {
  background-color: #e94de9;
}

.trapezium {
  width: 200px;
  height: 0;
  border-bottom: 100px solid #b025b0;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
}

.plan-card ul{
  width: 100%;
  height: 50%;
  font-size: 1.2vw;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: #00000044;
  box-sizing: border-box;
  padding: 1vh;
  color: white;
}

/* TO DO LIST PAGE */

.container-todo{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/background_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}

.box{
  width: 40%;
  height: 70%;
  border: none;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.703);
  z-index: 100;
}
::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-track{
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(50, 50, 50);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(182, 182, 182);
}

.top{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1vh 1vw;
}

.container-todo h2{
  color: #2B94F0;
  margin: 10px;
  font-family: 'Playwrite FR Moderne';
}

.top img{
  width: 50px;
  height: 50px;
  margin: 10px;
}

.container-todo .inputbox{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-todo input{
  width: 75%;
  height: 30%;
  padding: 10px;
  background-color: #7a7a7a82;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 9px;
  font-size: 1.3vw;
  color: white;
}
.container-todo input::placeholder {
  color: rgb(255, 255, 255); /* Set your desired color here */
  opacity: 1; /* Ensure the color is fully opaque */
}

.container-todo .inputbox span{
  width: 15%;
  height: 60%;
  background-color: #2B94F0;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: white;
  cursor: pointer;
  font-size: 1vw;
  font-family: 'Poppins';
}

.inputbox span:hover{
  background-color: #217fd1;
}

#listcontainer{
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  padding: 10px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#listcontainer input{
  margin-right: auto;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
}

.container-todo ul li{
  width: 100%;
  list-style: none;
  color: white;
  /* position: relative; */
  font-size: 18px;
  cursor: pointer;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.container-todo ul li span{
  height: 20px;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1vh 1vw;
}

/* GENERATE PLAN PAGE */

.container-genplan {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #e1e1e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prompt-display {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 8px;
  background-color: #9fe1ff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  color: rgb(0, 0, 0);
}

.generate-button {
  padding: 10px 20px;
  background-color: #5900ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 300;
  transition: all 0.5s ease;
}

.generate-button:hover {
  background-color: #0056b3;
}

/* PLAN INFO PAGE */

.container-planinfo{
  width: 80vw;
  height: 76vh;
  padding: 2vh 2vw;
  background-image: linear-gradient(315deg, rgb(50, 130, 227), rgb(21, 49, 127), rgb(97, 11, 150));
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Poppins';
  overflow-y: scroll;
}

.plan-info-button{
  padding: 1vh 1.5vw;
  font-size: 1.4vw;
  font-family: 'Poppins';
  position: absolute;
  top: 1vh;
  right: 5vh;
  border: none;
  border-radius: 10px;
  background-color: #db8f00;
  color: white;
  cursor: pointer;
}
.plan-info-button:hover{
  background-color: #966200;
}

/* ABOUT US PAGE */
.aboutus-container {
  background-color: #233142;
  padding: 1rem 1rem;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.aboutus-content {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  padding: 1vw;
}

.aboutus-title {
  font-size: 2rem;
  font-weight: bold;
  color: #dadada;
}

.aboutus-description {
  color: #bababa;
  margin-bottom: 1rem;
  font-size:  1.2vw;
}

.aboutus-sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.aboutus-section {
  flex: 1;
}

.aboutus-subtitle {
  font-size: 1.7vw;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 0.5rem;
  text-align: center;
}

.aboutus-text {
  color: #c6c6c6;
  margin-bottom: 1rem;
  font-size: 1.2vw;
  text-align: center;
}

.aboutus-list {
  list-style-type: disc;
  margin-left: 1rem;
  color: #d2d2d2;
  font-size: 1.3vw;
  text-align:left;
  list-style:inside;
}

.aboutus-cta {
  margin-top: 1rem;
}

.aboutus-cta-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #d0d0d0;
  margin-bottom: 0.5rem;
}

.aboutus-cta-text {
  color: #b3b3b3;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2vw;
}
.aboutus-image{
  width: 40vw;
  height: 95%;
  background-image: url('./images/fitness_1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}